body {
     font-family: Arial, sans-serif;
     margin: 20px;
}

h1 {
     color: #333;
}

ul {
     list-style-type: none;
     padding: 0;
}

li {
     margin: 10px 0;
}
.alert {
     padding: 0.75rem 1.25rem;
     margin-bottom: 1rem;
     border: 1px solid transparent;
     border-radius: 0.25rem;
}

.alert-danger {
     color: #721c24;
     background-color: #f8d7da;
     border-color: #f5c6cb;
}

.mt-2 {
     margin-top: 0.5rem;
}
